<html>
<head>
</head>
<body>
<h3>LOGIN</h3>
<div class="login">
    <div>Demo users: enter anything you want and then press Submit.</div>
    <div>&nbsp</div>
    <form method="POST">
        <div>
            <label for="name">Full name:</label>
            <input type="text" name="name" value="Frog Howard" />
        </div>
        <div>
            <label for="ssn">SSN:</label>
            <input type="text" name="ssn" value="123-45-6789" />
        </div>
        <div>
            <label for="code">One-time code:</label>
            <input type="text" name="code" value="ABCDEFG123456ZZ" />
        </div>
        <input type="submit">
    </form>
</div>
</body>
</html>